@{
    ViewData["Title"] ="Index";
}


<div class="container mt-5">
    @if(ViewBag.Nombre != null){
        <h2>Hola empleado @ViewBag.Nombre </h2>

    }else{
        <h2>Saludo!</h2>
    }

    <div class="card">
        <div class="card-body">
            <h2 class="card-title">Sistema de ingresos y salidas</h2>
            <form action="">
                <div class="row">
                    <div class="col-md-6">
                        <button class="btn btn-lg btn-success">Registrar Ingreso</button>
                    </div>
                    <div class="col-md-6">
                        <button class="btn btn-lg btn-dark">Registrar Salida</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>