@{
    ViewData["Title"] ="Index";
}

<div class="container mt-5">

    <div class="card">
        <div class="card-body">
            @if(ViewBag.Nombre != null){
                <h3>Hola @ViewBag.Nombre! </h3>

            }else{
                <h3>Saludo!</h3>
            }


            <h2 class="card-title">Sistema de ingresos y salidas</h2>
            @if(TempData["MessageSuccess"] != null){
                <div class="alert alert-success" role="alert">
                    @TempData["MessageSuccess"]
                </div>
            }   
 
            @if(ViewBag.Salida == null){
                <a asp-controller="Historial" asp-action="RegistrarIngreso"  class="btn btn-lg btn-success">Registrar Ingreso &rightarrow;</a>

            }else{
                <a asp-controller="Historial" asp-action="RegistrarSalida"  class="btn btn-lg btn-dark">&leftarrow; Registrar Salida </a>
            }
        </div>
    </div>
</div>