@{
    ViewData["Title"] ="Index";
}

<div class="container mt-5">

    <div class="card">
        <div class="card-body">
            @if(ViewBag.Nombre != null){
                <h3>Hola @ViewBag.Nombre! </h3>

            }else{
                <h3>Saludo!</h3>
            }
            <h2 class="card-title">Sistema de ingresos y salidas</h2>
            <form asp-controller="Historial" asp-action="RegistrarIngreso" method="post">
                <div class="row">
                    <div class="col-md-12">
                        <button class="btn btn-lg btn-success">Registrar Ingreso &rightarrow;</button>
                    </div>
                </div>
            </form>
            <form action="">
                <div class="row">
                    <div class="col-md-12">
                        <button class="btn btn-lg btn-dark">&leftarrow; Registrar Salida</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>